*{
    font-family: Arial, Helvetica, sans-serif;
}
body{
    margin: 0;
    background-color: aliceblue;
    box-sizing: border-box;
}
#sect1,#sect2,#sect3{
    border: 2px solid black;
    padding: 20px;
    margin: 10px;
    width: 500px;
    justify-self: center;
    background-color: rgb(251, 248, 248) ;
    border-radius: 5px;
}
h1{
    color: rgb(241, 241, 251);
    text-align: center;
    background-color: rgb(87, 87, 96);
    height: 40px;
}
h3{
    text-align: center;
    padding: 10px;
    font-size: 22px;
    background-color: cadetblue;
    color: rgb(251, 253, 255);
    width: 300px;
    justify-self: center;
    border-radius: 5px;
}

#userChoice{
    gap: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
#optionsDiv{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
#options{
    width: 80px;
    height: 30px;
}
#computerChoice{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 20px;
}

#theOutcome{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
   
}
#rock{
    background-color: azure;
}
#rock:hover{
    background-color: rgb(136, 254, 254);
}
#paper{
    background-color: azure;
}
#paper:hover{
    background-color: rgb(136, 254, 254);
}
#scissors{
    background-color: azure;
}
#scissors:hover{
    background-color: rgb(136, 254, 254);
}

/* #userInputSubmission{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 20px;
} */